.stats-container {
    justify-content: space-between;
    flex-direction: row;
  }
  
  .stats-container > div {
    flex: 1;
  }


  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;     /* Centrar horizontalmente */
    align-items: center;         /* Centrar verticalmente */
    margin-top: 20px;
  }
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #42003d;
  border-radius: 30px;
  box-shadow: #400042 4px 4px 0 0;
  color: #42003d;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;;
  justify-content: center;
  align-items: center;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
