{%extends 'base.html'%}
{%block title%}Juegos Panamericanos{%endblock%}
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
{% endblock %}
{%block content%}
{% if error %}
<div class="error-message">
  {{ error }}
</div>
{% endif %}
<div class="container-form">
  <form class="forms" id="artesano-form" action="/agregar_artesano" method="POST" enctype="multipart/form-data">
      <div class="form-group" id="form-group">
        <h2>Registrar Artesano</h2>
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre">
          <label for="email">Email Contacto</label>
          <input type="text" id="email" name="email" placeholder="Ingrese su email">
          <label for="telefono">Teléfono</label>
          <input type="text" id="telefono" name="telefono" placeholder="Ingrese su teléfono">
          <label for="region">Región</label>
          <select id="region" name="region" required>
            <option value="" selected disabled hidden>Seleccione región</option>
          </select>
          <label for="comuna">Comuna</label>
          <select id="comuna" name="comuna" required>
            <option value="" selected disabled hidden>Ingrese Comuna</option>
          </select>
          <label for="sports">Tipo de Artesania</label>
          <select id="sports" name="sports" multiple>
            <option value="1">mármol</option>
            <option value="2">madera</option>
            <option value="3">cerámica</option>
            <option value="4">mimbre</option>
            <option value="5">metal</option>
            <option value="6">cuero</option>
            <option value="7">telas</option>
            <option value="8">joyas</option>
            <option value="9">otro</option>
        </select>
        <div id="foto-container">
          <label id="foto-label" for="foto-1">Foto Artesania</label>
          <input id="foto-1" type="file" name="foto-1" >
          <input id="foto-2" type="file" name="foto-2" >
          <input id="foto-3" type="file" name="foto-3" >
        </div>
          <label for="descripcion">Descripcion Artesania</label>
          <input type="text" id="descripcion" name="descripcion" maxlength="80" placeholder="Ingrese su Descripcion">
          <button id="submit-button" type="button">Agregar Artesania</button>
        </div>
        <div id="val-box" hidden>
          <ul id="val-msg"></ul>
          <ul id="val-list"></ul>
        </div>
        <div id="confirm-box" class="static-centered" hidden>
          <h1 class="centered">¿Confirma que desea agregar esta Artesania?</h1>
          <div class="centered">
            <button id="confirm-button" type="submit">Sí, confirmo</button>
            <button id="deny-button" type="button">No, quiero volver al formulario.</button>
          </div>
        </div>
  </form>

</div>
{% endblock %}
{% block javascript %}
<script src="{{url_for('static', filename='js/validatorA.js')}}"></script>
{%endblock%}