<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>

</head>
<body>
    <div class="main">
        <nav>
            <div class="container">   
                <a href="{{url_for('index')}}"><img src="../static/svg/logo.png" alt="banner"></a>
            </div>
            <div class="nav-links">
                    <ul>
                        <li><a href="{{url_for('ver_hinchas')}}">Ver hinchas</a></li>
                        <li><a href="{{url_for('ver_artesanos')}}">Ver artesanos</a></li>
                        <li><a href="{{url_for('agregar_hincha')}}">Agregar hincha</a></li>
                        <li><a href="{{url_for('agregar_artesano')}}">Agregar artesano</a></li>
                    </ul>
            
            </div>
        </nav>
        <section class="main-container">
            {% block content %}{% endblock %} {% block javascript %}{% endblock %}
          </section>
    </div>
</body>
{% block js %}{% endblock %}
</html>